.typeimg {
  width: 75px;
  height: 30px;
  float: left;
}

.title a {
  color: teal;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 0px;
  line-height: 25px;
}

.owner {
  line-height: 20px;
  color: black;
}

.description {
  font-family: "arial", sans-serif;
  text-align: justify;
  font-size: 13px;
}

.myStatus {
  float: right;
  margin-top: 5px;
  margin-bottom: 10px;
}

.myContainer {
  padding: 5px;
  max-width: 500px;
  margin-top: -10px;
  margin-bottom: 5px;
}